body, .calculator__body .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(128, 249, 255, 0.33)), to(rgba(81, 198, 205, 0.7)));
  background-image: linear-gradient(to bottom right, rgba(128, 249, 255, 0.33), rgba(81, 198, 205, 0.7));
}

.calculator {
  border-radius: 1.5rem;
}

.calculator {
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.11);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.11);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.calculator {
  overflow: hidden;
  background-color: #ffffff;
  min-width: 36rem;
}

.calculator__display {
  padding: 2.5rem;
  height: 14.1rem;
}

.calculator__display--secondary {
  color: #999999;
  display: block;
  font-size: 2rem;
  text-align: right;
  height: 2.6rem;
}

.calculator__display--main {
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.5rem;
}

.calculator__display--main i {
  color: #999999;
  font-size: 2rem;
}

.calculator__display--main .results {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 5rem;
}

.calculator__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (9rem)[5];
      grid-template-rows: repeat(5, 9rem);
}

.calculator__body .button {
  border-radius: 0;
  border: none;
  padding: 0;
  outline: none;
  font-size: 3rem;
  font-family: inherit;
}

.calculator__body .button i {
  font-size: 1.7rem;
}

.calculator__body .button--operator {
  background-color: #0c9fa7;
  color: #ffffff;
}

.calculator__body .button--operator:hover {
  background-color: #0b969d;
}

.calculator__body .button--operator:active {
  background-color: #0a848a;
}

.calculator__body .button--operator--equals {
  background-color: #e46b1b;
  color: #ffffff;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
}

.calculator__body .button--operator--equals:hover {
  background-color: #d76519;
}

.calculator__body .button--operator--equals:active {
  background-color: #c05a16;
}

.calculator__body .button--modify {
  background-color: #81dadf;
  color: #ffffff;
}

.calculator__body .button--modify:hover {
  background-color: #71d5da;
}

.calculator__body .button--modify:active {
  background-color: #65d2d7;
}

.calculator__body .button--number {
  background-color: #ffffff;
}

.calculator__body .button--number:hover {
  background-color: whitesmoke;
}

.calculator__body .button--number:active {
  background-color: #ebebeb;
}

.calculator__body .button--number--0 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}
